[package]
name = "pkoffee"
version = "0.1.0"
authors = [
    "Thomas Vuillaume <thomas.vuillaume@lapp.in2p3.fr>",
    "Vincent Pollet <vincent.pollet@lapp.in2p3.fr>",
]
description = "S3School Pkoffe example package"
license = "MIT"
homepage = "https://github.com/s3-school/pkoffee-solution"
repository = "https://github.com/s3-school/pkoffee-solution"
documentation = "https://github.com/s3-school/pkoffee-solution/blob/main/README.md"

[package.build.backend]
name = "pixi-build-rattler-build"
version = ">=0.3.5,<1"
